@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SignalR Demo</h2>
        <input type="text" placeholder="Message" data-bind="value:message" />
        <button class="btn btn-primary" data-bind="click:sendMessage">Send</button>
    </div>
    <div class="col-md-4">
        <div data-bind="foreach:messages">
            <div data-bind="text: $data"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 data-bind="text:name"></h2>
        <canvas width="800" height="100" id="chart"></canvas>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/perfSurf.js"></script>
}
