.about-header {
  color: #ff1a1a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.lower-section h3 {
  color: #ff1a1a;
}
.lower-section p {
  color: blue;
}
